<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{url_for('static', filename='/style.css')}}"> 
  <title>YSAB Application</title>   
  <link rel="icon" href="{{url_for('static', filename='images/fav-icon.svg')}}">
</head>

<form action="/submit_form" method="POST">
<div class="container">
  <div class="center">
    <img src="{{url_for('static', filename='images/juvenile-logo.svg')}}" alt="Dallas Juvenile Logo" width="100" height="100">
  </div>
</div>
    <header>
      <h2>Dallas County Juror Fund Application (YSAB Funds)</h2>
      <div>Dallas County jurors have the option of contributing their juror fund stipend to help at risk youth in the Dallas County Juvenile Department and the foster care system.  The Youth Services Advisory Board (YSAB) oversees the use of the Dallas County Juror Fund for special projects to address specific concerns related to juvenile crime prevention. In order to be eligible for YSAB recommendation, Dallas County Juvenile Department fund requestors must complete the following application. </div>
    </header>

    <h3>Submission Instructions:</h2>
        <ol>
            <li>Applicants must answer all questions</li>
            <li>Length of answers have to adhere to the specified word limit indicated in the question</li>
            <li>Applications must click the submit button to complete the application</li>
            <li>The application form must be completed by <span style="color:red"> no later than 5:00 PM CST on April 19th, 2024</span></li>
          </ol>

    <p><b>Disclamer:</b> For privacy and security reasons, please be advised not to include any confidential or sensitive information in your submission.</p>
    
    <div>
    <br>
      <label class="desc" type="hidden" id="name" for="name">Applicant Name</label>
      <div>
        <input id="name" name="name" type="text" class="field text fn" value="" size="8" tabindex="1" required>
      </div>
    </div>

    <div>
        <label class="desc" id="app_title" for="app_title">
        Applicant Title
        </label>
        <div>
          <input id="app_title" name="app_title" type="text" class="field text fn" value="" size="8" tabindex="1">
       </div>
    </div>

    <div>
        <label class="desc" id="email" for="email">
          Applicant Contact Email
        </label>
        <div>
          <input id="email" name="email" type="email" spellcheck="false" value="" maxlength="255" tabindex="3" required> 
       </div>
    </div>

    <div>
      <label class="desc" id="phone" for="phone">
        Applicant Contact Phone Number
      </label>
      <div>
        <input id="phone" name="phone" type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="123-456-7890" oninput="formatPhoneNumber(this)" maxlength="12" required>
      </div>
    </div>
  <script>
    function formatPhoneNumber(input) {
      // Remove any non-numeric characters
      var phoneNumber = input.value.replace(/\D/g, '');

      // Check if the length is greater than 10, trim it
      if (phoneNumber.length > 10) {
        phoneNumber = phoneNumber.substr(0, 10);
      }

      // Add dashes in the required format
      var formattedPhoneNumber =
        phoneNumber.slice(0, 3) + '-' + phoneNumber.slice(3, 6) + '-' + phoneNumber.slice(6, 10);

      // Update the input field value
      input.value = formattedPhoneNumber;
    }
  </script>

    <div>
        <label class="desc" id="application_renewal" for="application_renewal">
            Application Renewal
        </label>
        <div>
        <select id="application_renewal" name="application_renewal" class="field select medium" tabindex="11"> 
          <option value="Choose an item">Choose an item</option>
          <option value="Yes">Yes</option>
          <option value="No">No (New Project)</option>
        </select>
        </div>
    </div>

  <h3>Profile</h3>
    <div>
        <label class="desc" id="title" for="title">
          Project Title
        </label>
        <div>
          <input id="title" name="title" type="text" class="field text fn" value="" size="8" tabindex="1">
       </div>
    </div>

    <div>
        <label class="desc" id="service_area" for="service_area">
            Service Area
        </label>
        <div>
        <select id="service_area" name="service_area" class="field select medium" tabindex="11"> 
          <option value="Choose an item">Choose an item</option>
          <option value="Clinical Services">Clinical Services</option>
          <option value="Detention Services">Detention Services</option>
          <option value="Educational Services">Educational Services</option>
          <option value="Probation Services">Probation Services</option>
          <option value="Residential Services">Residential Services</option>
          <option value="Administration">Administration</option>
        </select>
        </div>
    </div>

    <div>
        <label class="desc" id="facility" for="facility">
        Facility/Program to Administer the Project
        </label>
        <div>
          <input id="facility" name="facility" type="text" class="field text fn" value="" size="8" tabindex="1">
       </div>
    </div>

    <div>
        <label class="desc" id="address" for="address">
        Address
        </label>
        <div>
          <input id="address" name="address" type="text" class="field text fn" value="" size="8" tabindex="1">
       </div>
    </div>

    <div>
        <label class="desc" id="amount" for="amount">
        Amount Requested
        </label>
        <div>
          <input id="amount" name="amount" type="number" class="field text fn" value="" size="8" tabindex="1" min="1" max="99999">
       </div>
    </div>

  <h3>Proposed Project</h3>

    <div>
      <label class="desc" id="target_group" for="target_group">Target Group/Population <p>(Be <u><b>specific</b></u> about which youth from the program will benefit from expending these funds)</p></label>
      <div>
        <textarea id="target_group" name="target_group" spellcheck="true" rows="10" cols="50" tabindex="4" placeholder="Maximum 250 words"></textarea>
      </div>
  </div>

    <div>
      <label class="desc" id="project_appoarch" for="project_appoarch">Project Approach & Activities <p>(Provide a detailed justification for proposing this project, including specific items to be purchased with the funds)</p> <p>All items specified here must reflect the items in the section <i>Budget Estimate</i>.</p></label>
      <div>
        <textarea id="project_appoarch" name="project_appoarch" spellcheck="true" rows="10" cols="50" tabindex="4" placeholder="Maximum 500 words"></textarea>
      </div>
  </div>

    <!-- <div>
      <label class="desc" id="program_manager" for="program_manager">Program Manager/Project Manager <p>(Provide the name(s) and title(s) of staff who will be responsible for the administration and management of any funds awarded)</p></label>
      <div>
        <textarea id="program_manager" name="program_manager" spellcheck="true" rows="10" cols="50" tabindex="4" placeholder="Maximum 500 words"></textarea>
      </div>
    </div> -->
      
  <h3>Performance Management </h3>

  <div>
    <label class="desc" id="goal_impact" for="goal_impact">
      Goal Statement & Overall Impact <p>([1] Describe specifically how YSAB funding will help achieve the program's goals and [2] the overall programatic impact that will be realized because of the use of YSAB funds)</p>
    </label>
    <div>
      <textarea id="goals_impact" name="goals_impact" spellcheck="true" rows="10" cols="50" tabindex="4" placeholder="Maximum 600 words"></textarea>
    </div>
  </div>

  <div>
    <label class="desc" id="names_plan_data_analyze" for="names_plan_data_analyze">Provide the names and titles of staff who will be responsible for the administration, data collection/monitoring, and management of the project and awarded funds. Include the detailed plan for the data to be collected and how it will be analyzed to yield findings.</p></label>
    <div>
      <textarea id="names_plan_data_analyze" name="names_plan_data_analyze" spellcheck="true" rows="10" cols="50" tabindex="4"></textarea>
    </div>
  </div>

  <br>

    <div>
      <label class="desc" id="reporting_interval" for="reporting_interval">
          Select the suggested reporting interval for the expenditure of these funds.
      </label>
      <div>
        <select id="reporting_interval" name="reporting_interval" class="field select medium" tabindex="11"> 
          <option value="Choose an item">Choose an item</option>
          <option value="Quarterly">Quarterly</option>
          <option value=">Bi-annually">Bi-annually</option>
          <option value=">Annually">Annually</option>
        </select>
      </div>
    </div>

    <br>

    <div>
      <label class="desc" id="output_measures" for="output_measures">List project output measures <p>(Output measures represent the imidiate and tangible products generated by program activities. Target values should indicate number of youth, number of individuals, number of units, etc.)</p></label>
      <div>
        <table id="output_measures">
          <thead>
              <tr>
                  <th>Output Measures</th>
                  <th>Target</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td><input type="text" name="measure1"></td>
                  <td><input type="text" name="target1"></td>
              </tr>
              <tr>
                  <td><input type="text" name="measure2"></td>
                  <td><input type="text" name="target2"></td>
              </tr>
              <tr>
                  <td><input type="text" name="measure3"></td>
                  <td><input type="text" name="target3"></td>
              </tr>
              <tr>
                  <td><input type="text" name="measure4"></td>
                  <td><input type="text" name="target4"></td>
              </tr>
              <tr>
                  <td><input type="text" name="measure5"></td>
                  <td><input type="text" name="target5"></td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>  

    <div>
      <label class="desc" id="outcome_measures" for="outcome_measures">List project outcome measures <p>(Outcome measures help determine whether the program is achieving its state goals. For example, increasing the number of youth who make  the “honor roll,” or reduces the recidivism rate, or increasing the number and rate  of youth who apply to a post-secondary institution, including vocation or technical schools.)</p></label>
      <div>
        <table id="outcome_measures">
          <thead>
              <tr>
                  <th>Outcome Measures</th>
                  <th>Target</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td><input type="text" name="measure1.1"></td>
                  <td><input type="text" name="target1.1"></td>
              </tr>
              <tr>
                  <td><input type="text" name="measure2.1"></td>
                  <td><input type="text" name="target2.1"></td>
              </tr>
              <tr>
                  <td><input type="text" name="measure3.1"></td>
                  <td><input type="text" name="target3.1"></td>
              </tr>
              <tr>
                  <td><input type="text" name="measure4.1"></td>
                  <td><input type="text" name="target4.1"></td>
              </tr>
              <tr>
                  <td><input type="text" name="measure5.1"></td>
                  <td><input type="text" name="target5.1"></td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>  

    <div>
      <label class="desc" id="project_impact" for="project_impact">Provide a thorough justification of the impact the YSAB funds will have in advancing the programs goals and outcomes. <p>(Be specific including how DCJD youth will directly benefit from this project and the use these funds; the number of overall youth, families, friends, etc. who will benefit from the use of these funds, not including DCJD youth; include other output measures as needed)</p></label>
      <div>
        <textarea id="project_impact" name="project_impact" spellcheck="true" rows="14" cols="50" tabindex="4"></textarea>
      </div>
    </div>

  <h3>Budget Summary</h3>
    <div>
      <label class="desc" id="other_funding" for="other_funding">
        Provide the name of any other source of funding that may be used for this project. <p>(Indicate NONE if there are no other sources of funding)</p>
      </label>
      <div>
        <input id="other_funding" name="other_funding" type="text" class="field text fn" value="" size="8" tabindex="1">
    </div>
    </div>
    <br>
    <div>
      <label class="desc" id="budget_estimate" for="budget_estimate">Budget Estimate: Indicate the different categories of expenses proposed in the project. Provide, in the “Description” column, an explanation of each expense associated with the category.  Expenses listed in the budget must be justified in the Project Approach & Activities section.</label>
      <div>
        <p>Category definitions: Use the follow category definitions as guidelines for selecting the appropriate label.</p>
        <ul>
          <li><b>Food</b>: Expenses related to food for various occasions. Items could include but not limited to: lunch, dinners, snacks, refreshments, pantry items.</li>
          <li><b>Gifts</b>: Expenditures made as a gesture of goodwill, appreciation, or celebration. They are not tied to incentives or rewards for specific achievements or behaviors. Items could include but not limited to: gift bags, small electronics, notebooks, makeup.</li>
          <li><b>SEM (Supplies, Equipment, Materials)</b>: Expenditures related to supplies, equipment, or materials for enchancing the program's activities and enriching the experience for participants. Items could include but not limited to: school/art supplies, games (table games, board games, gym games, etc.), books, decorations.</li>
          <li><b>Field Trips</b>: Expenditures related to organizing and facilitating educational or recreational outings outside of the program's usual location.</li>
          <li><b>Clothing</b>: Expenditures related to the purchase of clothing items such as uniforms, or other attire, as needed.</li>
          <li><b>Scholarships</b>: Expenditures related to providing financial assistance to individuals to support their education. Scholarships may take various forms, including monetary awards, educational materials such as textbooks or laptops, or direct payment for tuition and/or fees to educational institutions.</li>
          <li><b>Other</b>: For expenditures that do not fit into any of the predefined budget categories.</li>
        </ul>
      </div>
      <div>
    
        <table id="budget_estimate">
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Cost per Item</th>
                    <th>Number of Items</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>      
                      <select id="category1" name="category1" class="field select medium" tabindex="11"> 
                        <option value="Null"></option>
                        <option value="Food">Food</option>
                        <option value="Gifts">Gifts</option>
                        <option value="SEM">SEM</option>
                        <option value="Field Trips">Field Trips</option>
                        <option value="Clothes">Clothes</option>
                        <option value="Scholarships">Scholarships</option>
                        <option value="Other">Other</option>
                      </select>
                    </td>
                    <td><input type="text" name="description1"></td>
                    <td><input type="text" name="cost1"></td>
                    <td><input type="text" name="items1"></td>
                    <td><input type="text" name="total1" readonly></td>
                </tr>
                <tr>
                    <td>      
                      <select id="category2" name="category2" class="field select medium" tabindex="11"> 
                        <option value="Null"></option>
                        <option value="Food">Food</option>
                        <option value="Gifts">Gifts</option>
                        <option value="SEM">SEM</option>
                        <option value="Field Trips">Field Trips</option>
                        <option value="Clothes">Clothes</option>
                        <option value="Scholarships">Scholarships</option>
                        <option value="Other">Other</option>
                      </select>
                    </td>
                    <td><input type="text" name="description2"></td>
                    <td><input type="text" name="cost2"></td>
                    <td><input type="text" name="items2"></td>
                    <td><input type="text" name="total2" readonly></td>
                </tr>
                <tr>
                    <td>      
                      <select id="category3" name="category3" class="field select medium" tabindex="11"> 
                        <option value="Null"></option>
                        <option value="Food">Food</option>
                        <option value="Gifts">Gifts</option>
                        <option value="SEM">SEM</option>
                        <option value="Field Trips">Field Trips</option>
                        <option value="Clothes">Clothes</option>
                        <option value="Scholarships">Scholarships</option>
                        <option value="Other">Other</option>
                      </select>
                    </td>
                    <td><input type="text" name="description3"></td>
                    <td><input type="text" name="cost3"></td>
                    <td><input type="text" name="items3"></td>
                    <td><input type="text" name="total3" readonly></td>
                </tr>
                <tr>
                  <td>      
                    <select id="category4" name="category4" class="field select medium" tabindex="11"> 
                      <option value="Null"></option>
                      <option value="Food">Food</option>
                      <option value="Gifts">Gifts</option>
                      <option value="SEM">SEM</option>
                      <option value="Field Trips">Field Trips</option>
                      <option value="Clothes">Clothes</option>
                      <option value="Scholarships">Scholarships</option>
                      <option value="Other">Other</option>
                    </select>
                  </td>
                    <td><input type="text" name="description4"></td>
                    <td><input type="text" name="cost4"></td>
                    <td><input type="text" name="items4"></td>
                    <td><input type="text" name="total4" readonly></td>
                </tr>
                <tr>
                    <td>      
                      <select id="category5" name="category5" class="field select medium" tabindex="11"> 
                        <option value="Null"></option>
                        <option value="Food">Food</option>
                        <option value="Gifts">Gifts</option>
                        <option value="SEM">SEM</option>
                        <option value="Field Trips">Field Trips</option>
                        <option value="Clothes">Clothes</option>
                        <option value="Scholarships">Scholarships</option>
                        <option value="Other">Other</option>
                      </select>
                    </td>
                    <td><input type="text" name="description5"></td>
                    <td><input type="text" name="cost5"></td>
                    <td><input type="text" name="items5"></td>
                    <td><input type="text" name="total5" readonly></td>
                </tr>
                <tr>
                    <td>      
                      <select id="category6" name="category6" class="field select medium" tabindex="11"> 
                        <option value="Null"></option>
                        <option value="Food">Food</option>
                        <option value="Gifts">Gifts</option>
                        <option value="SEM">SEM</option>
                        <option value="Field Trips">Field Trips</option>
                        <option value="Clothes">Clothes</option>
                        <option value="Scholarships">Scholarships</option>
                        <option value="Other">Other</option>
                      </select>
                    </td>
                    <td><input type="text" name="description6"></td>
                    <td><input type="text" name="cost6"></td>
                    <td><input type="text" name="items6"></td>
                    <td><input type="text" name="total6" readonly></td>
                </tr>
                <tr>
                    <td>      
                      <select id="category" name="category" class="field select medium" tabindex="11"> 
                        <option value="Null"></option>
                        <option value="Food">Food</option>
                        <option value="Gifts">Gifts</option>
                        <option value="SEM">SEM</option>
                        <option value="Field Trips">Field Trips</option>
                        <option value="Clothes">Clothes</option>
                        <option value="Scholarships">Scholarships</option>
                        <option value="Other">Other</option>
                      </select>
                    </td>
                    <td><input type="text" name="description7"></td>
                    <td><input type="text" name="cost7"></td>
                    <td><input type="text" name="items7"></td>
                    <td><input type="text" name="total7" readonly></td>
                </tr>
            </tbody>
        </table>
      </div>
    
      <div>
        <table class="grand-total-table" id="budget_estimate">
          <thead>
              <tr>
                  <th>Overall Project Cost</th>
                  <td><input type="text" name="grandTotal" id="grandTotal" readonly></td>
              </tr>
          </thead>
        </table>
      </div>

      <div>
        <table class="grand-total-table" id="youth_total">
          <thead>
            <tr>
              <th>Number of Youth Who Will Benefit</th>
              <td><input type="text" name="youth_total" id="youth_total_input" required></td>
            </tr>
          </thead>
        </table>
      </div>
      
      <div>
        <table class="grand-total-table" id="benefit_per_youth">
          <thead>
            <tr>
              <th>Individual Youth Benefit ($)</th>
              <td><input type="text" name="benefit_per_youth" id="benefit_per_youth" readonly></td>
            </tr>
          </thead>
        </table>
      </div>
      
      <script>
        // JavaScript to calculate the total based on cost per item and number of items
        document.addEventListener("input", function(e) {
          if (e.target.name.startsWith("cost") || e.target.name.startsWith("items")) {
            const index = e.target.name.slice(-1);
            const cost = parseFloat(document.getElementsByName("cost" + index)[0].value) || 0;
            const items = parseInt(document.getElementsByName("items" + index)[0].value) || 0;
            const total = cost * items;
            document.getElementsByName("total" + index)[0].value = total.toFixed(2);
      
            // Calculate and update the Grand Total
            calculateGrandTotal();
          }
        });
      
        function calculateGrandTotal() {
          const totalInputs = document.querySelectorAll('[name^="total"]');
          let grandTotal = 0;
          totalInputs.forEach(input => {
            grandTotal += parseFloat(input.value) || 0;
          });
          document.getElementById("grandTotal").value = grandTotal.toFixed(2);
        }
      
        document.addEventListener("input", function(e) {
          if (e.target.id === "grandTotal" || e.target.id === "youth_total_input") {
            calculateBenefitPerYouth();
          }
        });

        function calculateBenefitPerYouth() {
          // console.log("Calculating benefit per youth...");
          const budgetEstimate = parseFloat(document.getElementById('grandTotal').value);
          const youthTotal = parseInt(document.getElementById('youth_total_input').value);
          const benefitPerYouthInput = document.querySelector('[name="benefit_per_youth"]');

          if (!isNaN(budgetEstimate) && !isNaN(youthTotal) && youthTotal !== 0) {
            const benefitPerYouth = budgetEstimate / youthTotal;
            // console.log("Benefit per youth:", benefitPerYouth.toFixed(2));
            benefitPerYouthInput.value = benefitPerYouth.toFixed(2);
          } else {
            benefitPerYouthInput.value = '';
          }
        }
      </script>
    </div> 

  </div> 

  <br><br>

  <div style="text-align: justify;">
    <div style="display: inline-flex; align-items: center; border: 1px solid red; padding: 15px;">
      <input type="checkbox" id="disclaimer_check" name="disclaimer_check" value="agree" required style="width: 15px; height: 15px;" required>
      <label for="disclaimer_check" style="margin-left: 10px;">All of the information contained within this application is true and accurate as of the date the application is submitted. As the applicant, you affirm that all due diligence has been completed, this request for Dallas County Juror funds administered and managed by the Youth Services Advisory Board does not duplicate any other fund source or service within the Dallas County Juvenile Department, and is made in good faith and with respect for the purpose of the Youth Services Advisory Board grant program for the express direct benefit of the youth under the authority of the Dallas County Juvenile Department.</label>
    </div>
  </div>
  

    <br><br>
    <div>
      <label class="desc" id="print" for="print">Click the button to print your application.</label>
      <div>
        <button onclick="window.print()">Print application</button>
      </div>
    </div>

    <div class="container">
      <div class="center">
        <input id="saveForm" name="saveForm" type="submit" value="Submit" class="submit-button" disabled>
      </div>
    </div>

    <script>
      const disclaimerCheckbox = document.getElementById('disclaimer_check');
      const submitButton = document.getElementById('saveForm');
    
      disclaimerCheckbox.addEventListener('change', function() {
        if (this.checked) {
          submitButton.style.backgroundColor = 'blue';
          submitButton.disabled = false;
        } else {
          submitButton.style.backgroundColor = 'grey';
          submitButton.disabled = true;
        }
      });
    </script>
  </form>
</html>